profiles {

    standard {
        process.executor = 'local'
        process.cpus = 2
        process.memory = "2 GB"

        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "/home/tamas/Containers"

        params.Rdir = "/home/tamas/R/x86_64-pc-linux-gnu-library/4.2"
        params.dbdir = "/home/tamas/Databases"
    }
    
    cluster {
        process.executor = 'local'
        process.cpus = 30
        process.memory = "100 GB"

        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "/node8_R10/stamas/containers"
        singularity.runOptions = "--bind /node8_R10:/node8_R10"

        params.Rdir = "/home/stamas/R/x86_64-pc-linux-gnu-library/4.2"
        params.dbdir = "/node8_R10/kintses_lab/databases"
    }
}

